# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [11]:
!pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.4.2-cp39-cp39-win_amd64.whl (7.1 MB)
Requirement already satisfied: numpy>=1.16 in c:\users\mazan\pycharmprojects\ods-course\venv\lib\site-packages (from matplotlib) (1.20.3)
Collecting pillow>=6.2.0
  Using cached Pillow-8.2.0-cp39-cp39-win_amd64.whl (2.2 MB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mazan\pycharmprojects\ods-course\venv\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\mazan\pycharmprojects\ods-course\venv\lib\site-packages (from matplotlib) (2.4.7)
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.3.1-cp39-cp39-win_amd64.whl (51 kB)
Requirement already satisfied: six in c:\users\mazan\pycharmprojects\ods-course\venv\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.4.2 pillow-8.2.0

In [12]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("data/data_adult.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [4]:
count_male = data.sex[data.sex == 'Male'].count()
count_female = data.sex[data.sex == 'Female'].count()

print(f"Колличество женщин в выборке: count = {count_female}")
print(f"Колличество мужчин в выборке: count = {count_male}")

Колличество женщин в выборке: count = 10771
Колличество мужчин в выборке: count = 21790

**2. Каков средний возраст (признак *age*) женщин?**

In [5]:
mean_female_age = data.age[data.sex == 'Female'].mean()

print(f"Средний возраст женщин в выборке равен: num = {mean_female_age}")

Средний возраст женщин в выборке равен: num = 36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [6]:
count_all = data['native-country'].count()
count_germany = data['native-country'][data['native-country'] == "Germany"].count()


print(f"Доля граждан из Германии составляет: {count_germany/count_all * 100}%")

Доля граждан из Германии составляет: 0.42074874850281013%

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [7]:
#########################################################
# Средние и среднеквадратичные отклонения возраста >50K #
#########################################################

mean_age_first = data.age[data.salary == ">50K"].mean()
std_age_first = data.age[data.salary == ">50K"].std()

print(f"Среднее значение возраста у людей с зарплатой >50K: mean = {mean_age_first}")
print(f"Cреднеквадратичное отклонение возраста у людей с зарплатой >50K: std = {std_age_first}")

##########################################################
# Средние и среднеквадратичные отклонения возраста <=50K #
##########################################################

mean_age_second = data.age[data.salary == "<=50K"].mean()
std_age_second = data.age[data.salary == "<=50K"].std()

print(f"Среднее значение возраста у людей с зарплатой <=50K: mean = {mean_age_second}")
print(f"Cреднеквадратичное отклонение возраста у людей с зарплатой <=50K: std = {std_age_second}")

Среднее значение возраста у людей с зарплатой >50K: mean = 44.24984058155847
Cреднеквадратичное отклонение возраста у людей с зарплатой >50K: std = 10.519027719851826
Среднее значение возраста у людей с зарплатой <=50K: mean = 36.78373786407767
Cреднеквадратичное отклонение возраста у людей с зарплатой <=50K: std = 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [137]:
high_edu = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]


moremoney_data_all = data[data.salary == ">50K"]
moremoney_data_smart = moremoney_data[moremoney_data['education'].isin(high_edu)]

print(f"Процент людей с высшим образованием, которые получают более 50K в месяц: "
      f"{len(moremoney_data_smart)/len(moremoney_data_all) * 100}%")

Процент людей с высшим образованием, которые получают более 50K в месяц: 57.83701058538452%

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [60]:
data.groupby(['race', 'sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [135]:
married_peap = data[data['marital-status'].str.contains("Married")]
count_male_married_peop_rich = len(married_peap[(married_peap.sex == "Male") & (married_peap.salary == ">50K")])

count_male_peop_rich = len(data[(data.sex == "Male") & (data.salary == ">50K")])

print(f"Процент женатых мужчин, которые получают более 50K в месяц: "
      f"{count_male_married_peop_rich/count_male_peop_rich* 100}%")

Процент женатых мужчин, которые получают более 50K в месяц: 89.53767637346142%

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [98]:
max_hours_per_week = data['hours-per-week'].max()

per_more_work = data[data['hours-per-week'] == max_hours_per_week]
more_money_per = per_more_work[per_more_work.salary == ">50K"]

print(f"Максимальное число часов человек работает в неделю: {max_hours_per_week}")
print(f"Колличество людей работают такое количество часов: {len(per_more_work)}")
print(f"Процент людей работают такое количество часов и зарабатывают много: "
      f"{len(more_money_per)/len(per_more_work)*100}%")

Максимальное число часов человек работает в неделю: 99
Колличество людей работают такое количество часов: 85
Процент людей работают такое количество часов и зарабатывают много: 29.411764705882355%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [132]:
data.pivot_table(['hours-per-week'], ['salary', "native-country"], aggfunc='mean')

                        hours-per-week
salary native-country
<=50K  ?                     40.164760
       Cambodia              41.416667
       Canada                37.914634
       China                 37.381818
       Columbia              38.684211
...                                ...
>50K   Thailand              58.333333
       Trinadad&Tobago       40.000000
       United-States         45.505369
       Vietnam               39.200000
       Yugoslavia            49.500000

[82 rows x 1 columns]

In [134]:
data_rich = data[data.salary == ">50K"]
data_notrich = data[data.salary == "<=50K"]

print(data_rich.pivot_table(['hours-per-week'], ['salary', "native-country"], aggfunc='mean'))
print(data_notrich.pivot_table(['hours-per-week'], ['salary', "native-country"], aggfunc='mean'))

                           hours-per-week
salary native-country
>50K   ?                        45.547945
       Cambodia                 40.000000
       Canada                   45.641026
       China                    38.900000
       Columbia                 50.000000
       Cuba                     42.440000
       Dominican-Republic       47.000000
       Ecuador                  48.750000
       El-Salvador              45.000000
       England                  44.533333
       France                   50.750000
       Germany                  44.977273
       Greece                   50.625000
       Guatemala                36.666667
       Haiti                    42.750000
       Honduras                 60.000000
       Hong                     45.000000
       Hungary                  50.000000
       India                    46.475000
       Iran                     47.500000
       Ireland                  48.000000
       Italy                    45.400000
       Jamaica                  41.100000
       Japan                    47.958333
       Laos                     40.000000
       Mexico                   46.575758
       Nicaragua                37.500000
       Peru                     40.000000
       Philippines              43.032787
       Poland                   39.000000
       Portugal                 41.500000
       Puerto-Rico              39.416667
       Scotland                 46.666667
       South                    51.437500
       Taiwan                   46.800000
       Thailand                 58.333333
       Trinadad&Tobago          40.000000
       United-States            45.505369
       Vietnam                  39.200000
       Yugoslavia               49.500000
                                   hours-per-week
salary native-country
<=50K  ?                                40.164760
       Cambodia                         41.416667
       Canada                           37.914634
       China                            37.381818
       Columbia                         38.684211
       Cuba                             37.985714
       Dominican-Republic               42.338235
       Ecuador                          38.041667
       El-Salvador                      36.030928
       England                          40.483333
       France                           41.058824
       Germany                          39.139785
       Greece                           41.809524
       Guatemala                        39.360656
       Haiti                            36.325000
       Holand-Netherlands               40.000000
       Honduras                         34.333333
       Hong                             39.142857
       Hungary                          31.300000
       India                            38.233333
       Iran                             41.440000
       Ireland                          40.947368
       Italy                            39.625000
       Jamaica                          38.239437
       Japan                            41.000000
       Laos                             40.375000
       Mexico                           40.003279
       Nicaragua                        36.093750
       Outlying-US(Guam-USVI-etc)       41.857143
       Peru                             35.068966
       Philippines                      38.065693
       Poland                           38.166667
       Portugal                         41.939394
       Puerto-Rico                      38.470588
       Scotland                         39.444444
       South                            40.156250
       Taiwan                           33.774194
       Thailand                         42.866667
       Trinadad&Tobago                  37.058824
       United-States                    38.799127
       Vietnam                          37.193548
       Yugoslavia                       41.600000